@import "../../index.scss";

.email {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;

  &__wrapper {
    position: relative;
    max-width: 320px;
  }

  &__heading {
    @extend %section-heading;
  }

  &__hint {
    font-size: 12px;
    line-height: 16px;
    color: $text-color-light;
  }

  &__input {
    @extend %input;
    width: 256px;
    height: 32px;
  }

  &__button {
    position: absolute;
    right: 8px;
    bottom: 8px;
    display: flex;
    transition: all 300ms linear;

    &:hover {
      transform: scale(1.1);
    }

    &-icon {
      width: 14px;
      height: 16px;
    }
  }
}