
* {
  box-sizing: border-box;
}

body,
section,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
input,
p,
ul,
li {
  font-family: inherit;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
