@import "../../index.scss";

.main-info {
  display: flex;
  padding: 12px;
  border-radius: 8px;
  background-color: rgba(247, 248, 250, 1);
  
  &__fields {
    @extend %info-fields;
  }

  &__values {
    @extend %info-values;
  }
}
